
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog Listesinin Excel Dökümü</h1>
<br />
<a href="/Admin/BlogAdmn/ExportDynamicBlogList" class="btn btn-info">Excel Olarak İndir</a>

