
<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Blog</h1>

                <small>Blog herkes tarafından duyulan bir kelimedir. Web sitesi olarak bilinen bloglar, alt sayfa olarak bilinen site türleri değildir. Farklı makalelerin farklı konularda ele alınmasıyla oluşan bir sitedir. Blog sitelerin en önemli özelliği, özellikle içerikleri oluşturan yazarların yazdığı içerikleri birinci şahıs bakış açısıyla yazmasıdır. Kendi fikri ve düşüncelerini katarak yazılan yazıların tümüdür. Blog yazan kişiler her zaman belirli konularda kendi fikirlerini ve düşüncelerini yansıtarak yazının hazırlanmasını sağlar.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">

                <h3 class="font-bold no-margins">
                    Aramıza Katılan Son Kullanıcı
                </h3>
                <h2>@ViewBag.writer</h2>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 520,992</h1>

                <h3 class="font-bold no-margins">
                    WriterBlog Site Kazancı
                </h3>
                <small>Ürün tanıtımları,promosyonlar,reklamlar,antlaşmalar.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>